{{ 'custom.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom.js' | asset_url }}" defer></script>

<div class="featured-product">
    <div class="featured-product__container column-2">
        {%-for block in section.blocks-%}
            <div class="featured-product__img-container">
                <picture>
                    <source media="(min-width: 992px)" srcset="{{ block.settings.image | img_url: 'large' }}">
                    <source media="(min-width: 768px)" srcset="{{ block.settings.image_2 | img_url: 'medium' }}">
                    <source media="(max-width: 767.87px)" srcset="{{ block.settings.image_3 | img_url: 'medium' }}">
                    <img class="featured-product__img" src="{{ block.settings.image | img_url: 'large' }}">
                </picture>
            </div>
            <div class="featured-product__txt-container">
                <h2 class="featured-product__header">{{ block.settings.featured_product_label }}</h2>
                {% if block.settings.product_desc != blank%}
                <div class="featured-product__desc">{{ block.settings.product_desc }}</div>
                {% endif %}
            <a class="featured-product__button" href="{{ block.settings.product.url }}">{{ block.settings.link_text }}</a>
            </div>
        {%- endfor -%}
    </div>
</div>

<style>
    {%-for block in section.blocks-%}
        {% if block.settings.pattern == true %}
            .featured-product__container {
                background-color: #D87D4A;
                background-image: url({{'pattern-circles.png' | asset_url}});
                background-repeat: no-repeat;
                background-position-y: inherit;
                background-position-x: -10rem;
            }
            @media only screen and (max-width: 991px) {
                .featured-product__container {
                        background-position-x: center;
                        background-position-y: bottom;
                }
            }
            @media only screen and (max-width: 767px) {
                .featured-product__container {
                        background-size: 70rem;
                        background-position-y: -15rem;
                }
            }
            .featured-product__header,
            .featured-product__desc { 
                color: {{block.settings.text_color}};
            }
            .featured-product__button {
                color: {{block.settings.link_txt_color}};
                background-color: {{block.settings.link_button_color}};
            }
        {% endif %}
    {%- endfor -%}

    {% if section.settings.text_align == 'left' %}
    .featured-product__img-container {
        grid-column-start: 2;
    }
    .featured-product__txt-container {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    {% endif %}
</style>

{% schema %}
{
    "name": "Featured Product (Custom)",
    "tag": "section",
    "class": "featured_product_custom",
    "settings": [
        {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Align Text Left"
                },
                {
                    "value": "right",
                    "label": "Align Text Right"
                }
            ],
            "default": "right" 
        }
    ],
    "blocks": [
      {
            "type": "featured_product",
            "name": "Featured Product",
            "limit": 1,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "pattern",
                    "label": "Enable Background Pattern",
                    "default": true
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Featured Product Image (Desktop)"
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Featured Product Image (Tablet)"
                },
                {
                    "type": "image_picker",
                    "id": "image_3",
                    "label": "Featured Product Image (Mobile)"
                },
                {
                    "type": "text",
                    "id": "featured_product_label",
                    "label": "Product Label"
                },
                {
                    "type": "richtext",
                    "id": "product_desc",
                    "label": "Description"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text Color",
                    "default": "#000000"
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Link Text"
                },
                {
                    "type": "color",
                    "id": "link_txt_color",
                    "label": "Link Text Color",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "link_button_color",
                    "label": "Link Button Color"
                },
                {
                    "type": "product",
                    "id": "product",
                    "label": "Select Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured Product (Custom)",
            "blocks": [
                {
                    "type": "featured_product"
                }
            ]
        }
    ]
}
{% endschema %}