{{ 'custom.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom.js' | asset_url }}" defer></script>

<div class="featured-product">
    {%-for block in section.blocks-%}
        <div class="featured-product__container pos-relative product-med-container-{{forloop.index}} grid-view {% if block.settings.grid == true %} grid-gap {% endif %}">
            <div class="featured-product-med__img-container img-med-container-{{forloop.index}} {% if block.settings.grid == false %} grid-area {% endif %}">
                <picture>
                    <source media="(min-width: 992px)" srcset="{{ block.settings.image | img_url: 'master' }}">
                    <source media="(min-width: 768px)" srcset="{{ block.settings.image_2 | img_url: 'master' }}">
                    <source media="(max-width: 767.87px)" srcset="{{ block.settings.image_3 | img_url: 'master' }}">
                    <img class="featured-product-med__img {% if block.settings.grid == true %} border-radius {% endif %}" src="{{ block.settings.image | img_url: 'master' }}">
                </picture>
            </div>
            <div class="featured-product__txt-container featured-product-med__txt-container pos-absolute txt-med-container-{{forloop.index}} {% if block.settings.grid == true %} grid-column-2 flex-column border-radius {% endif %}">
                <h2 class="featured-product__header featured-product-med__header text-med-color-{{forloop.index}}">{{ block.settings.featured_product_label }}</h2>
                {% if block.settings.product_desc != blank%}
                <div class="featured-product__desc text-med-color-{{forloop.index}}">{{ block.settings.product_desc }}</div>
                {% endif %}
                <a class="featured-product__button featured-product-med__button button-med-color-{{forloop.index}} {% if block.settings.grid == true %} fit-content {% endif %}" href="{{ block.settings.product.url }}">{{ block.settings.link_text }}</a>
            </div>
        </div>
    {%- endfor -%}
</div>

<style>
    {%-for block in section.blocks-%}
        .product-med-container-{{forloop.index}} {
            background-color: {{block.settings.background_color}};
        }
        .text-med-color-{{forloop.index}} { 
            color: {{block.settings.text_color}};
        }
        .button-med-color-{{forloop.index}} {
            color: {{block.settings.link_txt_color}};
            background-color: {{block.settings.link_button_color}};
            border: 1px solid {{block.settings.link_border_color}};
        }

        {% if block.settings.grid == true %}
            .product-med-container-{{forloop.index}} {
                background-color: transparent;
            }
            .txt-med-container-{{forloop.index}} {
                background-color: {{block.settings.background_color}};
            }
            @media only screen and (max-width: 767px) {
                .product-med-container-{{forloop.index}} {
                    display: block;
                }
                .img-med-container-{{forloop.index}} {
                       margin-top: 2rem;
                       margin-bottom: 2rem;
                }
            }
        {% endif %}

        {% if block.settings.text_align == 'left' and block.settings.grid == true %}
            .img-med-container-{{forloop.index}} {
                grid-column-start: 2;
            }
            .txt-med-container-{{forloop.index}} {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
            }
        {% elsif block.settings.text_align == 'left' and block.settings.grid == false %}
            .txt-med-container-{{forloop.index}} {
                grid-column-start: 1;
                grid-column-end: 1;
            }
            @media only screen and (max-width: 767px) {
                .txt-med-container-{{forloop.index}} {
                    display: flex;
                    flex-flow: wrap;
                    align-content: center;
                    grid-column-end: auto;
                }
            }
        {% else %}
            .txt-med-container-{{forloop.index}} {
                grid-column-start: 2;
                grid-column-end: 2;
            }
        {% endif %}
    {%- endfor -%}

</style>

{% schema %}
{
    "name": "Ft Product Med (Custom)",
    "tag": "section",
    "class": "featured_product_med_custom",
    "settings": [],
    "blocks": [
      {
            "type": "featured_product_med",
            "name": "Featured Product Medium",
            "limit": 3,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "grid",
                    "label": "Split into 2 Columns",
                    "default": false
                },
                {
                    "type": "color",
                    "id": "background_color",
                    "label": "Banner Background Color"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Featured Product Image (Desktop)"
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Featured Product Image (Tablet)"
                },
                {
                    "type": "image_picker",
                    "id": "image_3",
                    "label": "Featured Product Image (Mobile)"
                },
                {
                    "type": "text",
                    "id": "featured_product_label",
                    "label": "Product Label"
                },
                {
                    "type": "richtext",
                    "id": "product_desc",
                    "label": "Description"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text Color",
                    "default": "#000000"
                },
                {
                    "type": "select",
                    "id": "text_align",
                    "label": "Text Alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Align Text Left"
                        },
                        {
                            "value": "right",
                            "label": "Align Text Right"
                        }
                    ],
                    "default": "right" 
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Link Text"
                },
                {
                    "type": "color",
                    "id": "link_txt_color",
                    "label": "Link Text Color",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "link_border_color",
                    "label": "Link Border Color",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "link_button_color",
                    "label": "Link Button Color"
                },
                {
                    "type": "product",
                    "id": "product",
                    "label": "Select Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured Product Medium (Custom)",
            "blocks": [
                {
                    "type": "featured_product_med"
                }
            ]
        }
    ]
}
{% endschema %}