{{ 'custom.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom.js' | asset_url }}" defer></script>
<div class="featured-product">
    <div class="featured-product__container column-2">
        {%-for block in section.blocks-%}
            <div class="featured-product__img-container">
                <img class="featured-product__img" src="{{block.settings.image | img_url: 'large'}}">
            </div>
            <div class="featured-product__txt-container">
                <h2 class="featured-product__header">{{block.settings.featured_product_label}}</h2>
                {% if block.settings.product_desc != blank%}
                <div class="featured-product__desc">{{block.settings.product_desc}}</div>
                {% endif %}
            <button class="featured-product__button">{{block.settings.link_text}}</button>
            </div>
        {%- endfor -%}
    </div>
</div>

<style>
    .featured-product__container {
        {% if block.settings.pattern == checked %}
            background-color: #D87D4A;
            background-image: url({{'pattern-circles.png' | asset_url}});
            background-repeat: no-repeat;
            background-position-y: inherit;
            background-position-x: left;
        {% endif %}
    }

    {%-for block in section.blocks-%}
        .featured-product__header,
        .featured-product__desc { 
            color: {{block.settings.text_color}};
        }
        .featured-product__button {
            color: {{block.settings.link_txt_color}};
            background-color: {{block.settings.link_button_color}};
        }
    {%- endfor -%}

    .featured-product__img-container {
        {% if section.settings.text_align == 'right' %}
            grid-column-start: 2;
        {% endif %}
    }

    .featured-product__txt-container {
        {% if section.settings.text_align == 'right' %}
            grid-column-start: 1;
            grid-row-start: 1;
        {% endif %}
    }
</style>

{% schema %}
{
    "name": "Featured Product (Custom)",
    "tag": "section",
    "class": "featured_product_custom",
    "settings": [
        {
            "type": "checkbox",
            "id": "column",
            "label": "2 columns"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Align text left"
                },
                {
                    "value": "right",
                    "label": "Align text right"
                }
            ],
            "default": "left"
        }
    ],
    "blocks": [
      {
            "type": "featured_product",
            "name": "Featured Product",
            "limit": 1,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "pattern",
                    "label": "Enable Background Pattern"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Featured Product Image"
                },
                {
                    "type": "text",
                    "id": "featured_product_label",
                    "label": "Product Label"
                },
                {
                    "type": "richtext",
                    "id": "product_desc",
                    "label": "Description"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text Color",
                    "default": "#000000"
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Link Text"
                },
                {
                    "type": "color",
                    "id": "link_txt_color",
                    "label": "Link Text Color",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "link_button_color",
                    "label": "Link Button Color"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured Product (Custom)",
            "blocks": [
                {
                    "type": "featured_product"
                }
            ]
        }
    ]
}
{% endschema %}