<div class="footer">
  <div class="footer__inner">
    <div class="column-grid-2">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image' %}
          {% if block.settings.logo != blank %}
            <img class="footer-logo" src="{{block.settings.logo | img_url: '200x'}}">
          {% endif %}
        {% when 'link_list' %}
          <ul class="footer-link-list">
            {% for link in block.settings.menu.links %}
              <li><a href="{{ link.url }}" class="footer-link">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
    </div>
        {% when 'text' %}
          <div class="about-subtext">{{block.settings.subtext}}</div>
      {% endcase %}
    {% endfor %}
    <div class="copyright-container">
      <sub class="footer-copyright">Copyright 2021. All Rights Reserved</sub>
    </div>
    <ul class="social-list">
      <li>
        <a href="#" class="social-link">
          {% render 'icon-facebook' %}
          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
        </a>
      </li>
      <li>
        <a href="#" class="social-link">
          {% render 'icon-twitter' %}
          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
        </a>
      </li>
      <li>
        <a href="#" class="social-link">
          {% render 'icon-instagram' %}
          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
        </a>
      </li>
    </ul>
    
  </div>
</div>

<style>
  .footer {
    background-color: black;
    position: relative;
  }
  .footer__inner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 3rem 5rem;
  }
  .column-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-logo {
    align-self: center;
  }
  p {
    color: white;
  }
  .footer-link-list {
    padding: 0;
    display: flex;
    place-content: space-between;
    margin-left: 10rem;
    width: 75%;
    justify-self: right;
    min-width: 399px;  
  }
  {% if block.settings.uppercase-links == true %}
  .footer-link-list {
    text-transform: uppercase;
  }
  {% endif %}
  .footer-link,
  .social-link svg,
  .footer-copyright {
    color: white;
  }
  .footer-link:hover,
  .social-link svg:hover {
    color: #D87D4A;
  }
  .social-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 10%;
    position: absolute;
    right: 5rem;
    bottom: 10rem;
  } 
  .social-link svg {
    width: 100%;
    height: 2rem;
  }
  .about-subtext {
    opacity: 0.5;
    margin-bottom: 5rem;
    margin-right: 52rem;
  }
  .footer-copyright {
    opacity: 0.5;
  }

  @media only screen and (max-width: 991px) {
    .column-grid-2 {
      display: block;
      margin-left: 0;
    }
    .about-subtext {
      margin-top: 2rem;
      margin-right: 0;
    }
    .link-list {
      margin-left: 0;
    }
    .social-list {
      bottom: 1rem;
    }
  }

  @media only screen and (max-width: 767px) {
    .footer__inner {
      padding: 5rem 5rem;
    }
    .link-list {
      display: block;
      margin-left: 0;
      width: 100%;
      margin: 4rem auto;
    }
    .link-list li {
      margin: 1rem 0;
    }
    .column-grid-2,
    .about-subtext {
      text-align: center;
    }
    .copyright-container {
      text-align: center;
    }
    .social-list {
      margin: 0 auto;
      margin-top: 5rem;
      position: initial;
      width: 50%;
    }
  }
</style>

{% schema %}
{
  "name": "Footer (Custom)",
  "blocks": [
    {
      "type": "link_list",
      "name": "Footer Links",
      "settings": [
        {
          "type": "text",
          "id": "link-heading",
          "label": "Footer Links Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Select Links for Footer"
        },
        {
          "type": "checkbox",
          "id": "uppercase-links",
          "default": true,
          "label": "Link Uppercase"
        }
      ]
    },
    {
      "type": "text",
      "name": "About Co./Mission Stmt",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "Subtext"
        }
      ]
    },
    {
      "type": "image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Choose Logo Image"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
