<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer">
  <div class="footer__inner">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image' %}
          {% if block.settings.logo != blank %}
          <div class="footer-logo__container">
            <img class="footer-logo" src="{{block.settings.logo | img_url: '200x'}}">
          </div>
          {% endif %}
      <div class="grid-column">
        <div class="footer__link-outer-container">
          {% when 'link_list' %}
            <div class="footer__link-container">
              {% if block.settings.link-heading != blank %}
                <h5 class="footer__links-heading"> {{ block.settings.link-heading }} <span class="footer-chevron"><i class="fa fa-chevron-down" aria-hidden="true"></i></i></span> </h5>
              {% endif %}
              <ul class="footer__link-list">
                {% for link in block.settings.menu.links %}
                  <li><a href="{{ link.url }}" class="footer__link-item">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
      {% endcase %}
    {% endfor %}
        </div>
        {% form 'customer'%}
          <input class="newsletter__input"
            type="email"
            name="contact[email]"
            value="{{form.email}}"
            id="newsletter-form"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            placeholder="Enter your email address...">
          <input type="submit" class="newsletter__sign-up" value="Get Updates">
          {% if form.errors %}
            <p class="newsletter__msg">Whoops! Something went wrong. Please try again</p>
          {% elsif form.posted_successfully?%}
            <p class="newsletter__msg">Thanks! You've been subscribed</p>
          {% endif %}
        {% endform %}
      </div>

    <ul class="social-list">
      <li>
        <a href="#" class="social-link">
          {% render 'icon-facebook' %}
          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
        </a>
      </li>
      <li>
        <a href="#" class="social-link">
          {% render 'icon-twitter' %}
          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
        </a>
      </li>
      <li>
        <a href="#" class="social-link">
          {% render 'icon-instagram' %}
          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
        </a>
      </li>
    </ul>
    <div class="copyright-container">
      <sub class="footer-copyright">Copyright 2021. All Rights Reserved</sub>
    </div>
  </div>
</div>

<style>
  .newsletter__msg {
    color: white;
    margin: 0;
  }
  #contact_form {
    text-align: right;
  }
  .grid-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .footer {
    background-color: black;
  }
  .footer__inner {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 3rem 5rem;
  }
  .footer__link-outer-container {
    display: flex;
  }
  .footer-logo {
    align-self: center;
  }
  .footer p {
    color: white;
  }
  .footer__link-container {
    min-width: 230px;
    width:100%;
  }
  .footer__link-list {
    margin-top: 1rem;
    padding: 0;
    width: 100%;
    justify-self: right;
    text-transform: {{section.settings.link-item-text-transform}};
  }
  .footer__links-heading {
    color: {{section.settings.link-heading-color}};
    text-transform: {{section.settings.link-heading-text-transform}};
    margin-bottom: 1rem;
  }
  .footer-chevron {
    display: none;
  }
  .footer__link-item {
    {% if section.settings.link-items-opacity == true %}
    opacity: 0.5;
    {% endif %}
  }
  .footer__link-item,
  .social-link svg,
  .footer-copyright,
  .newsletter__submit {
    color: {{section.settings.link-items-text-color}};
  }
  .footer__link-item:hover,
  .social-link svg:hover {
    color: {{section.settings.items-hover-color}};
    opacity: 1;
  }
  .social-list {
    padding: 0;
    width: 10%;
    position: absolute;
    right: 5rem;
    bottom: 10rem;
    display: flex;
    place-content: space-between;
  } 
  .social-link svg {
    width: 100%;
    height: 2rem;
  }
  .about-subtext {
    opacity: 0.5;
    margin-bottom: 5rem;
    margin-right: 52rem;
  }
  .footer-copyright {
    opacity: 0.5;
    font-size: 1rem;
  }
  .newsletter__input,
  .newsletter__sign-up {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: Manrope,sans-serif;
    border: none;
  }
  .newsletter__input {
    width: 65%;
  }
  .newsletter__sign-up {
    background-color: #d87d4a;
    color: white;
    text-transform: uppercase;
    width: 34%
  }
  .copyright-container {
    margin-top: 4rem;
  }
  @media only screen and (max-width: 1240px) {
    .footer__link-outer-container {
      text-align: center;
      place-content: center;
    }
    .grid-column {
      display: block;
    }
    #contact_form {
      text-align: center;
      margin-top: 2rem;
    }
    .newsletter__input,
    .newsletter__sign-up {
      font-size: 1.5rem;
      margin: 2rem 0px;
      width: auto;
    }

    .column-grid-2 {
      display: block;
      margin-left: 0;
      text-align: center;
    }
    .about-subtext {
      margin-top: 2rem;
      margin-right: 0;
    }
    .social-list {
      bottom: 1rem;
    }
    .footer-logo__container {
      text-align: center;
    }
  }
  @media only screen and (max-width: 767px) {
    .footer__link-outer-container {
      display: block;
    }
    .footer__inner {
      padding: 5rem 1rem;
    }
    .footer__links-heading {
      font-size: 1.5rem;
    }
    .footer-chevron {
      display: inline-flex;
    }
    .footer-chevron i {
      color: #d87d4a;
      margin-left: 1rem;
      transition: transform 0.2s;
    }
    .footer__link-list {
      width: 100%;
      min-width: auto;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
    .footer__link-list li {
      margin: 1rem 0;
    }
    .column-grid-2,
    .about-subtext {
      text-align: center;
    }
    .newsletter__input,
    .newsletter__sign-up {
      padding: 1rem 1rem;
    }
    .copyright-container {
      text-align: center;
    }
    .social-list {
      margin: 5rem auto;
      position: initial;
      width: 50%;
    }
  }
</style>

{% schema %}
{
  "name": "Footer (Custom)",
  "blocks": [
    {
      "type": "link_list",
      "name": "Footer Links",
      "settings": [
        {
          "type": "text",
          "id": "link-heading",
          "label": "Footer Links Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Select Links for Footer"
        }
      ]
    },
    {
      "type": "image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Choose Logo Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "link-heading-color",
      "label": "Color for Links Heading",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "link-heading-text-transform",
      "label": "Select Heading Text Style",
      "options": [
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        }
      ],
      "default": "uppercase"
    },
    {
      "type": "color",
      "id": "link-items-text-color",
      "label": "Color for Links & Social Media Icons",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "items-hover-color",
      "label": "Hover Color for Lnks & SM Icons",
      "default": "#D87D4A"
    },
    {
      "type": "select",
      "id": "link-item-text-transform",
      "label": "Select Link Text Style",
      "options": [
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        }
      ],
      "default": "capitalize"
    },
    {
      "type": "checkbox",
      "id": "link-items-opacity",
      "label": "Enable Link Opacity",
      "default": true
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
