
  <div class="product-recommendations" data-product-id="{{ product.id }}" data-limit="3">
    {%- if recommendations.products_count > 0 -%}
      <h2 class="product__rec-heading">{{ section.settings.heading }}</h2>
      <ul class="product-ul">
        {%- for product in recommendations.products -%}
        <li class="product__rec-li">
          <a href="{{ product.url }}">
            <img class="product__rec-img" src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.featured_image.alt }}" />
            <p class="product__rec-title">{{ product.title }}</p>
            <button class="product__rec-button">{{section.settings.button-text}}</button>
          </a>
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

<style>
  .product__rec-heading {
    text-align: {{section.settings.text-align}};
    {% if section.settings.uppercase == true %}
    text-transform: uppercase;
    {% endif %}
    margin-top: 10rem;
  }
  .product__rec-button {
    {% if section.settings.button-uppercase == true %}
    text-transform: uppercase;
    {% endif %}
    background-color: {{section.settings.button-color}};
    color: {{section.settings.btn-txt-color}};
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
  }
  .product__rec-button:hover {
    background-color: {{section.settings.button-hvr-color}};
  }
  .product__rec-title {
    {% if section.settings.product-uppercase == true %}
    text-transform: uppercase;
    {% endif %}
    font-size: 2rem;
    color: black;
    line-height: normal;
  }
</style>

{% schema %}
{
  "name": "Product Rec. (Custom)",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type": "checkbox",
      "id": "uppercase",
      "label": "Heading Uppercase",
      "default": true
    },
    {
      "type": "select",
      "id": "text-align",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product-uppercase",
      "label": "Product Uppercase",
      "default": true
    },
    {
      "type": "text",
      "id": "button-text",
      "label": "Button Text",
      "default": "See Product"
    },
    {
      "type": "checkbox",
      "id": "button-uppercase",
      "label": "Button Uppercase",
      "default": true
    },
    {
      "type": "color",
      "id": "btn-txt-color",
      "label": "Button Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button-color",
      "label": "Button Color",
      "default": "#d87d4a"
    },
    {
      "type": "color",
      "id": "button-hvr-color",
      "label": "Button Color on Hover",
      "default": "#FBAF85"
    }
  ]
}
{% endschema %}

{% javascript %}
var loadProductRecommendationsIntoSection = function() {
  // Look for an element with class 'product-recommendations'
  var productRecommendationsSection = document.querySelector(".product-recommendations");
  if (productRecommendationsSection === null) { return; }
  // Read product id from data attribute
  var productId = productRecommendationsSection.dataset.productId;
  // Read limit from data attribute
  var limit = productRecommendationsSection.dataset.limit;
  // Build request URL
  var requestUrl = "/recommendations/products?section_id=product-recommendations&limit="+limit+"&product_id="+productId;
  // Create request and submit it using Ajax
  var request = new XMLHttpRequest();
  request.open("GET", requestUrl);
  request.onload = function() {
    if (request.status >= 200 && request.status < 300) {
      var container = document.createElement("div");
      container.innerHTML = request.response;
     //console.log('request response', request.response)
      console.log('container', container)
      var recommendationsInnerHTML = container.querySelector('.product-recommendations').innerHTML;
      console.log('container.querySelector(".product-recommendations").innerHTML', container.querySelector(".product-recommendations").innerHTML)

      //productRecommendationsSection.parentElement.innerHTML = container.querySelector(".product-recommendations").innerHTML;
      productRecommendationsSection.innerHTML = container.querySelector(".product-recommendations").innerHTML;
    }
  };
  request.send();
};
// If your section has theme settings, the theme editor
// reloads the section as you edit those settings. When that happens, the
// recommendations need to be fetched again.
// See https://help.shopify.com/en/themes/development/sections/integration-with-theme-editor
document.addEventListener("shopify:section:load", function(event) {
  if (event.detail.sectionId === "product-recommendations") {
    loadProductRecommendationsIntoSection();
  }
});
// Fetching the recommendations on page load
loadProductRecommendationsIntoSection();
{% endjavascript %}
